@import '../../../styles/_variables.scss';



a {
  .mat-mdc-list-item-title {
    font-family: "Changa", sans-serif;
    font-size: 16px;
    //color: map-get($colors, "primary");
  }

}

button{
  border: none;
  /*.mdc-list-item__content{
    .mat-mdc-list-item-unscoped-content{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }*/
}
