.shadow1{
    box-shadow: rgba(85, 113, 205, 0) 0px 30px 30px -20px;
}
.card{
    border: none;
}

.form-control{
    padding-left: 10px;
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    resize: none;
    border-style:solid;
    width: 80%;
    display: inline;
    margin-bottom: 20px;
}
.form-control:focus{
    color: black;
    box-shadow: none !important;
}
.form-select{
    display: inline;
    width: 70%;
}

input[type=date]{
width: 30%;
}
.dis{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}